* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.main_navbar {
  display: flex;
  justify-content: center;
}

.main_navbar .logo_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
}

.main_navbar .logo_navbar img {
  width: 90px;
}

.main_navbar .link_navbar ul {
  height: 100%;
  display: flex;
}

.main_navbar .link_navbar ul li {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
}

.main_navbar .link_navbar ul li.active {
  border-bottom: 3px solid #0282f9;
}

.main_navbar .link_navbar ul li.active a {
  color: #0282f9;
}

.main_navbar .link_navbar ul li a {
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: bolder;
  color: #464646;
}

main {
  background-color: #1c1c1c;
  color: white;
}

main .hero_image {
  height: 300px;
}

main .hero_image img {
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main_container {
  width: 1020px;
  margin: 0 auto;
  padding: 45px 0;
  position: relative;
}

main .main_container .title_card_container {
  background-color: #0282f9;
  padding: 10px 17px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

main .main_container .title_card_container h3 {
  text-transform: uppercase;
  font-weight: bolder;
}

main .main_container .card_container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
}

main .main_container .single_card_container {
  padding: 0 10px;
  width: 16.6666666667%;
}

main .main_container .single_card_container .single_card {
  width: 100%;
}

main .main_container .single_card_container .single_card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .main_container .single_card_container .single_card h5 {
  text-transform: uppercase;
  margin-top: 10px;
  color: white;
}

main .main_container .btn_container {
  text-align: center;
}

main .main_container .btn_container button {
  cursor: pointer;
  color: white;
  font-weight: bolder;
  background-color: #0282f9;
  border: 1px solid #0282f9;
  margin-top: 35px;
  padding: 7px 45px;
}

.details_section {
  background-color: white;
  color: black;
}

.details_section .blue_overlay {
  background-color: #0282f9;
  height: 80px;
  position: relative;
}

.details_section .blue_overlay .comic_cover {
  position: absolute;
  width: 180px;
  left: 50%;
  transform: translateX(-500px);
  bottom: 20%;
  border: 2px solid white;
}

.details_section .blue_overlay .comic_cover img {
  width: 100%;
  display: block;
}

.details_container {
  width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.details_container .details_title {
  text-transform: uppercase;
  color: #001c79;
  font-size: 26px;
  margin-bottom: 20px;
}

.details_container .price_container {
  padding: 15px 20px;
  background-color: #39a039;
  display: flex;
  justify-content: space-between;
  border: 1px solid #113a11;
  margin-bottom: 15px;
}

.details_container .price_container .pre_price {
  color: #94ffb4;
}

.details_container .price_container .price {
  font-weight: bold;
  color: white;
}

.details_container .price_container .disposability {
  color: #94ffb4;
  text-transform: uppercase;
  cursor: pointer;
}

.details_container .details_description {
  line-height: 25px;
  color: #464646;
  font-size: 18px;
  margin-bottom: 50px;
}

.details_container .details_show {
  display: flex;
}

.details_container .details_show .details_show_left {
  width: 50%;
  padding: 15px;
}

.details_container .details_show .details_show_right {
  width: 50%;
  padding: 15px;
}

.details_container .details_show .details_show_title {
  color: #001c79;
  padding: 20px 0;
  border-bottom: 1px solid #5f5f5f;
}

.details_container .details_show .details_show_subtitle {
  padding: 10px 0;
  display: flex;
  border-bottom: 1px solid #5f5f5f;
}

.details_container .details_show .details_show_subtitle :nth-child(1) {
  color: #00155c;
  width: 20%;
}

.details_container .details_show .details_show_subtitle :nth-child(2) {
  width: 80%;
  color: #2e7ef7;
  padding-left: 40px;
}

.details_container .details_show .details_show_subtitle .text_uppercase {
  text-transform: uppercase;
}

.details_container .details_show .details_show_subtitle .text_dark {
  color: #464646;
}

.info_footer {
  padding: 35px 0;
  background-color: #0282f9;
  color: white;
}

.info_footer ul {
  display: flex;
  justify-content: center;
}

.info_footer ul li {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.info_footer ul li img {
  width: 40px;
  margin-right: 5px;
}

.info_footer ul li a {
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  padding: 5px 8px;
}

.link_footer {
  background-image: url("/img/footer-bg.jpg");
  min-height: 200px;
  max-height: 350px;
  overflow: hidden;
  background-color: #303030;
}

.link_footer .container {
  width: 1020px;
  margin: 0 auto;
  display: flex;
}

.link_footer .list_link_container {
  height: 100%;
  width: 40%;
  padding: 35px 0;
  display: flex;
}

.link_footer .list_link_container .list_link {
  margin-left: 15px;
}

.link_footer .list_link_container .list_link li {
  margin-bottom: 3px;
}

.link_footer .list_link_container .list_link li.head_link {
  margin: 10px 0;
}

.link_footer .list_link_container .list_link li.head_link a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bolder;
}

.link_footer .list_link_container .list_link li a {
  color: #959595;
  display: inline-block;
  font-size: 12px;
  padding: 0 5px;
}

.link_footer .main_logo_container {
  width: 60%;
}

.link_footer .main_logo_container .main_logo {
  width: 480px;
  margin: 0 auto;
}

.link_footer .main_logo_container .main_logo img {
  width: 100%;
  transform: translateY(-100px);
}

.social_footer {
  background-color: #303030;
  padding: 15px 0;
  display: flex;
}

.social_footer .btn_container {
  width: 40%;
  text-align: center;
}

.social_footer .btn_container button {
  padding: 8px 12px;
  background-color: #303030;
  border: 2px solid #0282f9;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.social_footer .social_icon_container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_footer .social_icon_container h4 {
  text-transform: uppercase;
  color: #0282f9;
  margin-right: 20px;
  font-weight: bold;
}

.social_footer .social_icon_container img {
  width: 25px;
  margin-right: 10px;
}

