.details_section {
    background-color: white;
    color: black;

    .blue_overlay {
        background-color: #0282f9;
        height: 80px;
        position: relative;

        .comic_cover {
            position: absolute;
            width: 180px;
            left: 50%;
            transform: translateX(-500px);
            bottom: 20%;
            border: 2px solid white;

            img {
                width: 100%;
                display: block;
            }
        }
    }
}

.details_container {
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;

    .details_title {
        text-transform: uppercase;
        color: #001c79;
        font-size: 26px;
        margin-bottom: 20px;
    }

    .price_container {
        padding: 15px 20px;
        background-color: rgb(57, 160, 57);
        display: flex;
        justify-content: space-between;
        border: 1px solid rgb(17, 58, 17);
        margin-bottom: 15px;

        .pre_price {
            color: rgb(148, 255, 180);
        }

        .price {
            font-weight: bold;
            color: white;
        }
        .disposability {
            color: rgb(148, 255, 180);
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    .details_description {
        line-height: 25px;
        color: rgb(70, 70, 70);
        font-size: 18px;
        margin-bottom: 50px;
    }

    .details_show {
        display: flex;


        .details_show_left {
            width: 50%;
            padding: 15px;
        }

        .details_show_right {
            width: 50%;
            padding: 15px;
        }

        .details_show_title {
            color: #001c79;
            padding: 20px 0;
            border-bottom: 1px solid rgb(95, 95, 95);
        }

        .details_show_subtitle {
            padding: 10px 0;
            display: flex;
            border-bottom: 1px solid rgb(95, 95, 95);

            & :nth-child(1) {
                color: #00155c;
                width: 20%;
            }

            & :nth-child(2) {
                width: 80%;
                color: #2e7ef7;
                padding-left: 40px;
            }

            .text_uppercase {
                text-transform: uppercase;
            }

            .text_dark {
                color: rgb(70, 70, 70);
            }
        }
    }
}